.side{
    background-color: #ffffee;
    width: fit-content;
    height: 400px;
    text-align: center; 
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
}

.content{
    background-color: #ffffff;
    width: 1000px;
    height: 1500px;
    text-align: center;
    margin-left: 10px;
    top: 300px;
}

.window{
    font-size: 40px;
}

body{
    display: flex;
}