.side{
    background-color: #ffffee;
    width: fit-content;
    height: 400px;
    text-align: center; 
    top :50px;
    position: -webkit-sticky;
    position: sticky;
}

.content{
    background-color: #ffffff;
    width: 1000px;
    height: 1500px;
    text-align: center;
    margin-left: 10px;
    top: 300px;
}

.window{
    font-size: 40px;
}

body{
    display: flex;
    background-color: #fffbfb;
}

h3{
    font-size: 30px;
    font-family: serif
}

.first{
    background-color: #e8e89a;
    font-family: sans-serif;
    font-size: 15px
}

.second{
    background-color: #c9c9c9;
    font-family: sans-serif;
    font-size: 15px
}

.third{
    background-color: #e6b46f;
}